<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Ajax Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script>
        click_image = function(element) {
            let elementId = element.getAttribute("id");
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById("result").innerHTML = this.responseText;
            }
            xhttp.open("GET", "/get_image?id=" + elementId);
            xhttp.send();
        }
    </script>
</head>
<body>
<div class="container-md mt-3">
    <h2 class="display-4 text-white m-5">Flask Ajax Example</h2>
    <div class="row">
        <div class="col-sm-6 p-2"><img class="box rounded img-fluid d-block" id="image1" onclick="click_image(this)"
                                       src="{{ url_for('static', filename='images/01.jpg') }}"></div>
        <div class="col-sm-6 p-2"><img class="box rounded img-fluid d-block" id="image2" onclick="click_image(this)"
                                       src="{{ url_for('static', filename='images/02.png') }}"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-2" id="result"></div>
    </div>
</div>
</body>
</html>
